<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <div id="home_">
        <div id="home_profile">
            <%if(user){%>
                <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100px">
                <h4><%=user.name%></h4>
                <%}%>
        </div>
        <hr>
            <div id="post_Section">
        <h1>post</h1>
        <%if(user){%>
        <form action="/posts/create" method="post" id="newpost_form">
            <input type="text" name="post" placeholder="crete the post" required>
            <input type="submit" name="submit">
        </form>
        <%}%>
        <ul id="listofpost_container">
            <% for(post of posts){%>
                <li id="postlist_1<%=post._id%>">
                    <p><%if(user!=null && user.id==post.user.id){%>
                        <a class="deletepost_1S"  href="/posts/delete/<%=post.id%>">X</a>
                    <%}%><%=post.content%></p>
                    <p><%=post.user.name%></p>
                    <%if(user){%>
                        <form action="/comment/create" method="post">
                            <input type="text" name="comment" placeholder="comment" required>
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <input type="submit" name="submit">
                        </form>
                    <%}%>
                    <div>
                        <ul>
                            <% for(comment of post.commentforpost){%>
                                <li>
                                    <p><%if(user!=null && (post.user.id==user.id || user.id==comment.user.id)){%><a href="/comment/delete/<%=comment.id%>">X</a><%}%>
                                        <%=comment.content%></p>
                                    <p><%=comment.user.name%></p>
                                </li>  
                            <%}%>
                        </ul>
                    </div>
                </li> 
            <%}%>
        </ul>
    </div>
    <hr>
    <div id="friends_section">
        <ul>
            <%if(friends!=null){%>
             <h2>Friends</h2>
            <% for(friend of friends){%>
                <li>
                    <a href="/users/profile/<%=friend._id%>" style="text-decoration: none;"><%=friend.name%></a>
                </li>
            <%}%>
            <%}%>
        </ul>
    </div>
</div>
<script src="/js/home.js"></script>
</body>
</html>